@import "bootstrap.scss";
@import "font-face.scss";
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    @include media-breakpoint-down(sm) {
        font-size: 14px;
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        font-size: 1rem; // 16 px
    }
}

h1 {
    font-size: 46px;
    color: #fff;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h2 {
    @include media-breakpoint-down(sm) {
        font-size: 1.3rem; // 28 px
    }

    @include media-breakpoint-up(md) {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 30px;
    font-weight: 800;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.sm-align {
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
}

.link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;

    .fas {
        font-size: 11px;
    }
}

#header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    >.container,
    .container-fluid {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding-left: 35px;
        padding-right: 35px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
    .btn {
        border: 2px solid white;
        padding: 9px 20px !important;
    }

    .top-header {
        img {
            width: 60px;
            height: 20px;
        }

        a {
            margin-left: 20px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 13px;

            &:hover {
                background: #3DAEAD;
                padding: 10px;
                color: white;
                font-weight: 500;
            }
        }
    }

    .bottom-header {
        width: 100%;
        height: 60px;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-right: 20px;

            img {
                height: 40%;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        span {
            background-color: $primary;
            padding: 10px;
            border-radius: 10px;
            margin-right: 15px;

            .fas {
                color: white;
                font-size: 20px;
                text-align: center;
            }
        }

        a {
            font-size: 30px;
            color: black;
        }
    }

    .main-nav {
        @include media-breakpoint-down(md) {
            display: -webkit-box;
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: calc(100% - 50px);
            max-width: 300px;
            background-color: #fff;
            right: 0;
            top: 100px;
            overflow: auto;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            transform: translate(100%, 0);
            transition: transform 0.3s ease;

            &.open {
                transform: translate(0%, 0);
            }
        }

        @include media-breakpoint-up(lg) {
            z-index: 1050;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .main-menu {
            padding: 0;
            margin: 0;
            list-style: none;

            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: center;
            }

            >li {
                @include media-breakpoint-up(lg) {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                >a {
                    text-transform: uppercase;
                    color: white;
                    font-size: 14px;
                    font-weight: 500;

                    @include media-breakpoint-down(md) {
                        padding: 15px;
                        display: block;
                        line-height: 1;
                        border-bottom: 1px solid #ebebeb;
                        color: #3DAEAD;
                    }

                    &:hover {
                        border: 2px solid white;
                        padding: 10px;
                    }
                }
            }
        }
    }
    &.scroll {
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.33);
        .top-header {
            display: none !important;
        }
    }
}

#content {
    @include media-breakpoint-down(md) {
        padding-top: 50px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 100px;
    }
}

#introduction {
    background-image: url(../img/bg-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    img {
        @include media-breakpoint-down(md) {
            max-width: 230px;
        }
    }

    p {
        font-size: 20px;
    }

    .bld-logo-img {
        width: 100%;
        float: right;
        height: 60px;
    }

    .img-promotion {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 60px;
        p {
            margin: 0;
            padding-right: 9px;
            font-size: 15px;
        }
        .logo-nzxt {
            width: 60px;
            height: 15px;
        }
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 20px;
        justify-content: center;
    }
}

#services {
    background-image: url(../img/bg-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    background-attachment: fixed;
    min-height: 150px;

    .services-card {
        height: 100%;
        min-height: 260px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        padding: 15px;

        h3 {
            text-transform: uppercase;
            color: #fff;
        }

        p {
            font-size: 14px;
        }

        img {
            width: 65px;
            height: 60px;
            margin-bottom: 16px;
        }

    }
}

#games {
    .grid-games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
        }
        .item-game {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            min-height: 270px;
            background-attachment: fixed;
            .link-game{
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 400;
                    padding-top: 10px;
                    margin-bottom: 0px;
                }
                .link {
                    margin-bottom: 16px;
                }
                img {
                    max-width: 280px;
                    height: auto;
                    @include media-breakpoint-down(sm) {
                        max-width: 220px;
                    }
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                background-color: #212121;
                opacity: 0.4;
            }
        }
        .battle {
            background-image: url(../img/battle.jpg) !important;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include media-breakpoint-down(md) {
                justify-content: center;
            }
        }
        .fortnite {
            background-image: url(../img/fortnite.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @include media-breakpoint-down(md) {
                justify-content: center;
            }
        }
    }
}

#product-design {
    padding-top: 70px;
    padding-bottom: 30px;
    h2 {
        text-transform: uppercase;
        color: #595959;
        letter-spacing: 1.5px;
        @include media-breakpoint-down(sm) {
            text-align: center;
            br {
                display: none;
            }
        }
    }
    p {
        color: #4a4a4a;
        font-weight: 300;
    }
    img {
        @include media-breakpoint-down(sm) {
            max-width: 230px;
            margin-top: 20px;
        }
    }
}

#check-out {
    padding: 40px;
    @include media-breakpoint-down(sm) {
        padding: 30px;
    }
    h2 {
        text-transform: uppercase;
        color: white;
        font-weight: 400;
    }
    .btn {
        background-color: #fff;
    }
}

#testimonials {
    background-color: black;
    padding: 60px;
    text-align: center;
    p {
        font-size: 13px;
        margin-top: 20px;
    }
}

footer#footer {
    padding-top: 15px;
    background-color: #101010;
    h2 {
        text-transform: uppercase;
        color: #595959;
        span {
            color: #fff;
        }
    }

    h4 {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    ul {
        margin-bottom: 10px;
        li {
            a {
                color: purple;
                text-transform: capitalize;
                &:hover {
                    font-weight: 800;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    p {
        margin: 0;
        font-size: 12px;
        color: #727272;
        @include media-breakpoint-down(sm){
            margin-top: 10px;
        }
    }

    .text-secondary {
        li {
            a {
                color: blue;
            }
        }
    }

    .text-primary {
        li {
            a {
                color: #3DAEAD;
            }
        }
    }

    form {
        input {
            background-color: #363636;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: 800;

            &::placeholder {
                text-align: center;
                font-weight: 400;
            }
        }
    }

    .bottom-footer {
        background-color: black;
        img {
            width: 120px;
        }
        a,button{
            font-size: 12px;
            padding-right: 20px;
            color: yellow;
            @include media-breakpoint-down(sm){
                margin-top: 10px;
            }
        }
        .drop-container{
            button{
                border: none;
                background: transparent;
            }
            img{
                width: 30px;
                height: 20px;
                margin-right: 5px;
            }
            .dropdown-menu{
                background: #000000;
                border: 1px solid white;
                ul{
                   display: flex;
                   justify-content: center;
                   flex-direction: column;
                   align-items: center;
                  
                    li{
                        padding-top: 10px;
                    }
                }
            }
        }
        .social {
            a {
                padding-right: 10px;
                font-size: 13px;
            }
            @include media-breakpoint-down(sm){
                margin-top: 10px;
            }
        }
    }

}